* {
	box-sizing: border-box;
}

p {
    display: inline-block;
    font-family: 'GothamBold', normal, normal;
    font-size: 20px;
}

@font-face {
    font-family: 'pacificoregular';
    src: url('pacifico.regular-webfont.woff2') format('woff2'),
         url('pacifico.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothamBook;
    src: url('Gotham-Book.otf');
}

@font-face {
    font-family: GothamBold;
    src: url('Gotham-Bold.otf');
}

body {
  margin: 0;
  background-color: #6187A4;
}

.header {
    background-color: #212b31;
    font-family: 'pacificoregular', normal, normal;
    padding: 0px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}

.navbar {
    font-family: 'Arial';
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

input[type=text] {
	width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
	border-radius: 20px;
    box-sizing: border-box;
	text-align: center;
    border: none;
    font-family: GothamBook;
}

.button1 {
    color: #ffffff;
    font-family: GothamBook;
    font-weight: 100;
    font-size: 15px;
    align-self: center;
    background: #F69C9C;
    
    border: solid 2px #ffffff;
    border-radius: 50px;
    padding: 10px 15px;
    
    transition-duration: 300ms;
}

.button1:hover {
    background: #FACDAE;
    color: #262733;
    border: solid 2px #ffffff;
}

.button2 {
    color: #ffffff;
    font-family: GothamBook;
    font-weight: 100;
    font-size: 15px;
    align-self: center;
    background: #83AF9A;
    
    border: solid 2px #ffffff;
    border-radius: 50px;
    padding: 10px 15px;
    
    transition-duration: 300ms;
}

.button2:hover {
    background: #C6C7AA;
    color: #262733;
    border: solid 2px #ffffff;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 5%;
}

/* Middle column */
.column.middle {
    width: 90%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}