* {
	box-sizing: border-box;
}

@font-face {
    font-family: 'pacificoregular';
    src: url('pacifico.regular-webfont.woff2') format('woff2'),
         url('pacifico.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  background-color: #6187A4;
}

.header {
    background-color: #212b31;
    font-family: 'pacificoregular', normal, normal;
    padding: 7px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}

.navbar {
    font-family: 'Arial';
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 5%;
}

/* Middle column */
.column.middle {
    width: 90%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}